p Hallo #{name},
p Ein abgeschlossener Dienstplanentwurf f체r die Fachgruppe #{section} wurde zur Genehmigung eingereicht.
p Bitte mit Ja oder Nein (mit Begr체ndung) 체ber den Entwurf abstimmen. Bei Ja werden die Dienstpl채ne an alle Beteiligten rausgeschickt