p Hallo #{name},
p Du hast dich eben für die Benutzung der ODP App registriert. Um den Vorgang abzuschließen, bestätige bitte deine Email-adresse unter folgendem Link: #{link}
p Falls du dich nicht registriert hast, betrachte diese E-Mail als gegenstandlos.